.main .accordion {
    border: unset;
}
.main .accordion__title {
    background-color: #fff;
    width: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-size: 14px;
}


